openapi: 3.0.1
info:
  title: Speaky Plugin lets you learn languages Text-to-Speech
  description: A plugin that lets you learn languages by listening to the pronunciation of words and phrases.
  version: 'v1'
servers:
  - url: https://speaky.zug.dev
paths:
  /api/tts:
    post:
      operationId: textToSpeech
      summary: "Convert text to speech, and returns a link to the audio. Example voices: en-US-Neural2-A, en-US-Neural2-C, en-GB-Neural2-B, en-GB-Neural2-A, en-AU-Neural2-B, en-AU-Neural2-A, fr-FR-Neural2-B, fr-FR-Neural2-A, fr-CA-Neural2-B, fr-CA-Neural2-A."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textToSpeechRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  audioUrl:
                    type: string
                    description: The link to the audio file. Which the user can be linked.
                  docRef:
                    type: string
                    description: The Firestore document reference.

  /api/listVoices/{languageCode}:
    get:
      operationId: listVoicesByLanguage
      summary: "List available voices for a specific language. Language codes example: en-US, en-GB, en-AU, fr-FR, fr-CA."
      parameters:
        - name: languageCode
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/listVoiceResponse'
  /api/listLanguages:
    get:
      operationId: listLanguages
      summary: List available languages. 
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    textToSpeechRequest:
      type: object
      required:
      - voiceName
      - textNative
      properties:
        voiceName:
          type: string
          description: The name of the voice to use for text-to-speech conversion. Such as en-GB-Neural2-A
        textNative:
          type: string
          description: The original text. This should be the source language or the users native language. This is used to generate the audio file.
    listVoiceResponse:
      type: object
      properties:
        name:
          type: string
          description: The name of the voice.
        languageCode:
          type: array
          items:
            type: string
          description: The languages supported by the voice.
        ssmlGender:
          type: string
          description: The gender of the voice.
        naturalSampleRateHertz:
          type: integer
          format: int32
          description: The natural sample rate of the voice, in hertz.
